NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://127.0.0.1:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXTAUTH_SECRET=Cz1K6UXFKJR+P2QMyCWbueDAp5xt1EFTr91e4RJoSEY=
GOOGLE_CLIENT_ID=209688755226-asrgqm9b4cgjoifl1f2b8lfp6aidm238.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GITHUB_CLIENT_ID=ad816052d05c629a0485
GITHUB_CLIENT_SECRET=52631c69a1f5e344d81108e4ea7131cef1c6e062

DATABASE_URL=postgres://postgres:dell@0.0.0.0:5432/app