NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://127.0.0.1:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXTAUTH_SECRET=Cz1K6UXFKJR+********=
GOOGLE_CLIENT_ID=*****-*****.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=****-*****-Ajc
GITHUB_CLIENT_ID=*****
GITHUB_CLIENT_SECRET=*****

DATABASE_URL=postgres://postgres:dell@0.0.0.0:5432/app